<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Steganography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Image Steganography Online</h1>
        <p>Choose an option:</p>
        <a href="/encrypt" class="button">Encrypt Message</a>
        <a href="/decrypt" class="button">Decrypt Message</a>
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2025 by <a href="https://github.com/souvick98" target="_blank">Souvick</a></p>
    </footer>

</body>
</html>
